body {
  padding: 0px 0px 0px 0px;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color:lightgray;
  }
  50% {
    background-color:lightslategrey;
  }
  100% {
    background-color:lightgrey;
  }
}
