.row-header{
    margin:0px auto;
    padding:0px;
}
.confName {
  background: url('../images/jiit.png') no-repeat;
  background-size: contain;
  width: 100%;
  height: 140px;
}

.logo {
  background: url('../images/jiit.jpg') no-repeat;
  background-size: contain;
  width: 100%;
  height: 140px;
  font-weight: bold;
}
.logo-2 {
  background: url('../images/cist.jpg') no-repeat;
  background-size: contain;
  width: 100%;
  height: 140px;
}
.carousel-item {
  height: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.right_button {
  /*border: solid 4px;
  border-radius: 1000px;*/
  color: #3f3e3e;
  position: fixed;
  top: 50%;
  right: 0px;
  font-size: 4em;
  float: right;
  z-index: 1;
  transition: 1s;
}
.right_button a{
  color: #3f3e3e;;
  text-decoration-line: none;
}

.left_button {
  /*border: solid 4px;
  border-radius: 1000px;*/
  color: #3f3e3e;;
  position: fixed;
  top: 50%;
  left: 0px;
  font-size: 4em;
  float: left;
  z-index: 1;
  transition: 1s;
}
.left_button a{
  color: #3f3e3e;;
  text-decoration-line: none;
}
#main {
  transition: .5s;
}

nav a{
  color:white;
  text-shadow: black;
  font-size: 1em;
  transition: .5s;
}
nav a:hover{
  background-color:#76323F;
  color:white;
}
.navbar-brand {
  font-size: 3em;
}

.black a{
  color: black;
}
.margin_set {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.changing_component {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.hover_me {
  transition: 0.6s;
}
.hover_me:hover {
  transform: scale(1.1);
}
.adjust-carousel2 {
  width:100%;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.adjust-carousel {
  width:100%;
  max-height: 200px;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color:#D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.navbar-dark {
     background-color: tan;
}

.row1
{
	margin:00px auto;
	padding: 00px 30px 70px 00px;
	/*border-bottom:1px ridge;*/
	min-height:60px;
}
input[type=radio] {
    width:15px;
    height:15px;
	background-color: #d1d3d1;
    content: '';
    display: inline;
	visibility: visible;
     border: 2px solid white;
	 background-color: #d1d3d1;
}
.btn-xl {
    padding: 10px 50px;
    /*font-size: 20px;*/
    /*border-radius: 10px;*/
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body {
  padding: 0px 0px 0px 0px;
}
nav a{
  color:#020104;
  text-shadow: black;
}
.black a{
  color: black;
}
.margin_set {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.changing_component {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.hover_me {
  transition: 0.6s;
}
.hover_me:hover {
  transform: scale(1.1);
}
.adjust-carousel2 {
  width:100%;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.adjust-carousel {
  width:100%;
  max-height: 200px;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color:#D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.navbar-dark {
     background-color:tan;
}

.row1
{
	margin:00px auto;
	padding: 00px 30px 70px 00px;
	/*border-bottom:1px ridge;*/
	min-height:60px;
}
input[type=radio] {
    width:15px;
    height:15px;
	background-color: #d1d3d1;
    content: '';
    display: inline;
	visibility: visible;
     border: 2px solid white;
	 background-color: #d1d3d1;
}
