<html>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
  </head>
  <body>
    <style>
    ::-webkit-scrollbar {
      display: none;
    }
    </style>
    <br><br><br><br>
    <section id="authors" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
                            <strong>For authors</strong><br>
                            <p>
                                This is intentionally left blank for authors section.Insert text here.





                            </p>









						</div>
					</div>
				</div>

		</section>
  </body>
</html>
