<html>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
		<link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/scrollStyle.css">

    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./assets/tether/tether.min.css">
    <link rel="stylesheet" href="./assets/theme/css/style.css">
    <link rel="preload" as="style" href="./assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>
    <section id="authors" style="background-color: white;" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
                            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2" style=" color:#080808;">
                                For Authors</h2>

							<p>This is intentionally left blank for authors section.Insert text here.</p>
					</div>
					</div>
				</div>

	</section>
		<footer class="page-footer font-small blue pt-4" style="background-color: rgb(8, 46, 102); color: white;">
			<!-- Footer Links -->
			<div class="container-fluid text-center text-md-left">

			  <!-- Grid row -->
			  <div class="row">

				<!-- Grid column -->
				<div class="col-md-6 p-6">

				  <!-- Content -->
				  <section class="countdown2 cid-rFKbkjS7oA" id="countdown2-a" style="margin-top: -2%; width: 105%; margin-left: -4%;background-color:rgb(8, 46, 102)">
					<div class="pt-5 mt-2">
						<div class=" countdown-cont align-center p-4">
							<div class="event-name align-left">
								<h4 class="mbr-fonts-style display-5">Venue: JIIT 62</h4>
							</div>
							<div class="countdown align-center py-2" data-due-date="2020/11/05">
							</div>
							<div class="daysCountdown" title="Days"></div>
							<div class="hoursCountdown" title="Hours"></div>
							<div class="minutesCountdown" title="Minutes"></div>
							<div class="secondsCountdown" title="Seconds"></div>
							<div class="event-date align-left mbr-white">
								<h5 class="mbr-fonts-style display-7">Date: 5-7th November, 2020</h5>
							</div>
						</div>
					</div>
				</section>
				</div>

				<div class="col-md-6 p-6"  style="margin-top:2.5%;">
          <h5 class="text-uppercase font-weight-bold" style="text-align: center">Contact Information</h5><br>
					<!-- Content -->
          <div class="row">
            <div class="col-md-6">
              <address style="font-size: 100%;color: white;">
    						Dr. Charu Gandhi<br>
    						   <i class="fa fa-phone"> Tel</i>:- 0120-4195892<br>
                   <i class="fa fa-mobile"> Mob</i>:- +91-8800823600<br>
    						   <i class="fa fa-fax"></i>:2401006(Admin)<br>
    						   <i class="fa fa-envelope"> Email:-</i>:
    							 <a href="mailto:charu.gandhi@jiit.ac.in">charu.gandhi@jiit.ac.in</a><br><br>
                 Dr. Devpriya Soni<br>
     						   <i class="fa fa-phone"> Tel</i>:- 0120-4195840<br>
                    <i class="fa fa-mobile"> Mob</i>:- +91-9312007114<br>
     						   <i class="fa fa-fax"></i>:2401006(Admin)<br>
     						   <i class="fa fa-envelope"> Email:-</i>:
     							 <a href="mailto:devipriya.soni@jiit.ac.in">devpriya.soni@jiit.ac.in</a>
    						</address>
            </div>
            <div class="col-md-6">
              <h5 class="text-uppercase-2 font-weight-bold" style="font-size: 1.1rem">Conference Venue</h5>
              <address style="font-size: 100%;color: white;">
                Jaypee Institute of Information Technology,<br>
    						A-10, Sector 62, Noida-201307,<br>
                Uttar Pradesh, India.<br>
              </address>
            </div>
          </div>
				</div>
				<!-- Grid column -->

			  </div>
			  <!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2008-2020 Copyright:
			  <a href="http://www.jiit.ac.in/"> JIIT Noida</a>
			</div>
			<!-- Copyright -->

		  </footer>
		  <!-- Footer -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/cbpAnimatedHeader.js"></script>
		<script src="../js/jquery.appear.js"></script>
		<script src="../js/SmoothScroll.min.js"></script>
		<script src="../js/theme-scripts.js"></script>

    <script src="./assets/tether/tether.min.js"></script>
    <script src="./assets/smoothscroll/smooth-scroll.js"></script>
    <script src="./assets/countdown/jquery.countdown.min.js"></script>
    <script src="./assets/theme/js/script.js"></script>
  </body>
</html>
