<html>
    <head>
        <!-- Required meta tags always come first -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta http-equiv="x-ua-compatible" content="ie=edge">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
            <link rel="stylesheet" href="../css/bg.css">

    </head>
        <body>
          <style>
          ::-webkit-scrollbar {
            display: none;
          }
          </style>
                    <div class="row row-content">
                        <div class="d-block col-sm-6">
                                <div class="row">
                                        <h1 style="margin-top:30px;margin-left:30px;">About Annual IC3 Conference</h1>
                                </div>
                            <p style="margin-left:30px;">
                                 The Annual International Career & College Counseling (IC3)
                                 brings together higher education representatives for a collaborative
                                 dialogue on issues that drive sustainable and inclusive counseling practices
                                  focused on student success.
                                   With a view that career and college counseling
                                  is as important as teaching Mathematics or English in high schools, IC3 aims
                                  to empower high schools with professional development opportunities to ensure
                                  that students find the best answers to questions like “what to study,”
                                  “where to study,” and “how to make it happen.” Through the Annual IC3 Conference,
                                   IC3 Regional Forums and the IC3 Institute, the IC3 Movement envisions that every high school in South Asia, Southeast Asia, the Middle East, Australia,
                                 New Zealand and the surrounding region will run a robust,
                                well-resourced career and college counseling office.
                            </p>
                            <button href="#" class="btn btn-lg btn-danger" id="volbutton" style="margin:30px;">Volunteer</button>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oghXA8dUR7g" allowfullscreen></iframe>
                                    </div>
                                 <div class="card-body">
                                     <p>A Glimpse of 2018 Annual Conference</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper">
                            <div class="card hover_me">
                                <input type="checkbox" id="card1" class="more" aria-hidden="true">
                                <div class="content">
                                    <div class="front" style="background-image: url('https://images.all-free-download.com/images/graphiclarge/classroom_185901.jpg')">
                                        <div class="inner">
                                            <h2>Benefits to High Schools</h2>

                                            <label for="card1" class="button" aria-hidden="true">
                                                Details
                                            </label>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="inner">
                                            <div class="row row-content">
                                                <ul>
                                                    <li> Learn from leaders in the field of college and university admissions
                                                         from around the world</li>
                                                     <li>Dwell deeper into the “what and where to study?” question,
                                                         and participate in a global dialogue on important issues such as access,
                                                         affordability and community engagement.
                                                         </li>
                                                     <!--li>Evaluate the long-term impact of your career and college
                                                         counseling department including its role in increasing the
                                                         reputation of your schools</li-->
                                                </ul>

                                            </div>
                                            <label for="card1" class="button return" aria-hidden="true">
                                                <i class="fa fa-arrow-left"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card hover_me">
                                <input type="checkbox" id="card2" class="more">
                                <div class="content">
                                    <div class="front" style="background-image: url('https://www.elsetge.cat/myimg/f/77-774664_oxford-university-wallpaper-oxford-university.jpg')">
                                        <div class="inner">
                                            <h2>Benefits to Universities</h2>
                                            <label for="card2" class="button" aria-hidden="true">
                                                Details
                                            </label>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="inner">
                                            <div class="row row-content">
                                                <ul>
                                                    <li>Focused networking with high school leaders and counselors from across India, South Asia, Southeast Asia, the Middle East,
                                                        Australia and New Zealand, as well as many other countries in the region</li>
                                                    <li>Gain comprehensive insights into the various domestic curriculum and assessment
                                                         frameworks</li>
                                                </ul>
                                            </div>
                                            <label for="card2" class="button return" aria-hidden="true">
                                                <i class="fa fa-arrow-left"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card hover_me">
                                <input type="checkbox" id="card3" class="more">
                                <div class="content">
                                    <div class="front" style="background-image: url('http://mgt.buffalo.edu/content/dam/mgt/Faculty-and-Research/OHR/CLOE/Images/2019Conf/gallery/conference-photo.jpg')">
                                        <div class="inner">
                                            <h2>Benefits to Organizations</h2>

                                            <label for="card3" class="button" aria-hidden="true">
                                                Details
                                            </label>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="inner">
                                            <div class="row row-content">
                                                <ul>
                                                    <li>Increase the visibility of your organization through participation in this unique
                                                        high-profile forum</li>
                                                    <li>
                                                        Develop valuable relationships with a significant number of leading regional
                                                        and global high schools and global higher education institutions
                                                    </li>
                                                </ul>
                                            </div>
                                            <label for="card3" class="button return" aria-hidden="true">
                                                <i class="fa fa-arrow-left"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

        </body>
        <link rel="stylesheet" href="../css/cstyle.css">
</html>
