<html>
	<head>
		<link href="../css/footer.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/bg.css">
	</head>
	<body>
		<footer class="footer page-footer">
			<div>Sponsored by</div>
			<img src="../images/logo1.jpg"/>
			<img src="../images/logo2.jpg"/>
			<img src="../images/logo3.jpg"/>
			<div class="footerbottom">
					All rights reserved
			</div>
		</footer>
		<script type="text/javascript" src="../scripts/mainScript.js"></script>
	</body>
</html>
