<html>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
		<link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/scrollStyle.css">

    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./assets/tether/tether.min.css">
    <link rel="stylesheet" href="./assets/theme/css/style.css">
    <link rel="preload" as="style" href="./assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>
    <div>
    <section id="portfolio" style="background-color: white;">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
            <h6 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2" style=" color:#131111;text-align: center; font-size: 3em;">
                  Organising Committee</h6>

                        <h5 style="color:#160f05;">Chief Patron</h5>
                            <ul>
                                <li>Shri Jaiprakash Gaur Ji</li>
                                <li>Shri Manoj Gaur Ji</li>


                            </ul>
                            <h5 style="color:#160f05;">Patron</h5>
                            <ul>
                                <li>Prof. SC Saxena</li>
                            </ul>
                            <h5 style="color:#160f05;">Chairpersons</h5>
                            <ul>
                                <li><a href="http://www.jiit.ac.in/director-sector-%E2%80%93-128">Prof. Hari Om Gupta</a></li>
                                <li><a href="https://www.unomaha.edu/college-of-information-science-and-technology/about/faculty-staff/deepak-khazanchi.php">Prof. Deepak Khazanchi, University of Nebraska</a> </li>

                            </ul>
                            <h5 style="color:#160f05;">Honorary Chair</h5>
                            <ul>
                              <li>Prof. Anirban Pathak</li>
                            </ul>
                            <h5 style="color:#160f05;">Steering Committee</h5>
                            <ul>
                                <li>Prof. Vikas Saxena</li>
                                <li>Prof. Krishna Asawa</li>

                            </ul>
                            <h5 style="color:#160f05;">Organising Secretary</h5>
                            <ul>
                                <li>Dr Charu</li>

                            </ul>
                            <h5 style="color:#160f05;">Organising Joint-Secretary</h5>
                            <ul>
                                <li>Dr. Devpriya Soni</li>

                            </ul>
                            <h5 style="color:#160f05;">Publicity Committee</h5>
                            <ul>
                                <li>Dr. Mukesh Saraswat</li>
                                <li>Dr. Anuja Arora</li>
                                <li>Mr. Raju Pal</li>
                                <li>Ms. Varsha Garg</li>
                                <li>Mr. Avinash Pandey</li>
                                <li>Mr. Ashish Tripathi</li>
                                <li>Mr. Shariq Murtuza</li>


                            </ul>
                            <h5 style="color:#160f05;">Registration Chair</h5>
                            <ul>
                                <li>Dr. Devpriya Soni</li>
                                <li>Dr. Himani Bansal</li>
                                <li>Dr. Shruti Jaiswal</li>
                                <li>Dr. Shailesh</li>
                                <li>Dr. Arti Jain</li>
                                <li>Ms. Vartika Srivastava</li>
                                <li>Mr. Nitin Shukla</li>
                            </ul>
                            <h5 style="color:#160f05;">Publication Committee</h5>
                            <ul>
                                <li>Dr. Chetna Gupta</li>
                                <li>Dr. Sanjeev Patel</li>
                                <li>Dr. Prakash Kumar</li>
                                <li>Dr. Neeraj Jain</li>
                                <li>Dr. Shruti Jaiswal</li>
                                <li>Dr. Amrit Pal Singh</li>
                            </ul>
                            <h5 style="color:#160f05;">Session Managment Committee</h5>
                            <ul>
                                <li>Dr. Shikha Mehta</li>
                                <li>Dr. Gagandeep Kaur</li>
                                <li>Ms. Anuradha </li>
                                <li>Ms. Akanksha</li>
                                <li>Ms. Anubhuti</li>
                                <li>Mr. Sulabh Tyagi</li>
                             </ul>

                            <h5 style="color:#160f05;">Technical Innovation Showcase Management Committee</h5>
                            <ul>
                                <li>Dr. Mukta Goyal-Incharge(J128)</li>
                                <li>Dr. Manish Thakur-Incharge(J62)</li>
                                <li>Dr. Payal</li>
                                <li>Dr. Kritika Rani</li>
                                <li>Ms. Varsha Garg</li>


                            </ul>
                            <h5 style="color:#160f05;">Treasury Committee</h5>
                            <ul>
                                <li>Dr. Sanjeev Patel</li>
                                <li>Dr. Mukesh Saraswat</li>
                                <li>Mr. Nitin Shukla</li>
                            </ul>

                            <h5 style="color:#160f05;">Local Hospitality, Accommodation and Transportation Committee</h5>
                            <ul>
                                <li>Dr. Prakash Kumar-Convenor</li>
                                <li>Dr. Tribhuvan Tiwari</li>
                                <li>Mr. Pulkit</li>
                                <li>Mr. Rupesh</li>
                                <li>Mr. Gaurav Nigam</li>
                                <li>Mr. Himanshu Mittal</li>
                                <li>Mr. Himanshu Agrawal</li>
                            </ul>

                            <h5 style="color:#160f05;">Stage and Venue Management Committee</h5>
                            <ul>
                                <li>Dr. Rashmi</li>
                                <li>Dr. Swati Gupta</li>
                                <li>Mr. Bansidhar Joshi</li>
                                <li>Mr. Avinash Pandey</li>
                                <li>Ms. Bindu Verma</li>
                                <li>Mr. Raju Pal</li>
                            </ul>
                            <h5 style="color:#160f05;">Website/Banners/Brochures /e-payments Committee</h5>
                            <ul>
                                <li>Dr. Himani Bansal</li>
                                <li>Ms. Anubhuti</li>
                            </ul>

                            </div>
                          </div>
                          </div>
                        </div>
                </section>
    </div>
    <footer class="page-footer font-small blue pt-4" style="background-color: rgb(8, 46, 102); color: white;">
			<!-- Footer Links -->
			<div class="container-fluid text-center text-md-left">

			  <!-- Grid row -->
			  <div class="row">

				<!-- Grid column -->
				<div class="col-md-6 p-6">

				  <!-- Content -->
				  <section class="countdown2 cid-rFKbkjS7oA" id="countdown2-a" style="margin-top: -2%; width: 105%; margin-left: -4%;background-color:rgb(8, 46, 102)">
					<div class="pt-5 mt-2">
						<div class=" countdown-cont align-center p-4">
							<div class="event-name align-left">
								<h4 class="mbr-fonts-style display-5">Venue: JIIT 62</h4>
							</div>
							<div class="countdown align-center py-2" data-due-date="2020/11/05">
							</div>
							<div class="daysCountdown" title="Days"></div>
							<div class="hoursCountdown" title="Hours"></div>
							<div class="minutesCountdown" title="Minutes"></div>
							<div class="secondsCountdown" title="Seconds"></div>
							<div class="event-date align-left mbr-white">
								<h5 class="mbr-fonts-style display-7">Date: 5-7th November, 2020</h5>
							</div>
						</div>
					</div>
				</section>
				</div>

				<div class="col-md-6 p-6"  style="margin-top:2.5%;">
          <h5 class="text-uppercase font-weight-bold" style="text-align: center">Contact Information</h5><br>
					<!-- Content -->
          <div class="row">
            <div class="col-md-6">
              <address style="font-size: 100%;color: white;">
    						Dr. Charu Gandhi<br>
    						   <i class="fa fa-phone"> Tel</i>:- 0120-4195892<br>
                   <i class="fa fa-mobile"> Mob</i>:- +91-8800823600<br>
    						   <i class="fa fa-fax"></i>:2401006(Admin)<br>
    						   <i class="fa fa-envelope"> Email:-</i>:
    							 <a href="mailto:charu.gandhi@jiit.ac.in">charu.gandhi@jiit.ac.in</a><br><br>
                 Dr. Devpriya Soni<br>
     						   <i class="fa fa-phone"> Tel</i>:- 0120-4195840<br>
                    <i class="fa fa-mobile"> Mob</i>:- +91-9312007114<br>
     						   <i class="fa fa-fax"></i>:2401006(Admin)<br>
     						   <i class="fa fa-envelope"> Email:-</i>:
     							 <a href="mailto:devipriya.soni@jiit.ac.in">devpriya.soni@jiit.ac.in</a>
    						</address>
            </div>
            <div class="col-md-6">
              <h5 class="text-uppercase-2 font-weight-bold" style="font-size: 1.1rem">Conference Venue</h5>
              <address style="font-size: 100%;color: white;">
                Jaypee Institute of Information Technology,<br>
    						A-10, Sector 62, Noida-201307,<br>
                Uttar Pradesh, India.<br>
              </address>
            </div>
          </div>
				</div>
				<!-- Grid column -->

			  </div>
			  <!-- Grid row -->

			</div>
			<!-- Footer Links -->

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2008-2020 Copyright:
			  <a href="http://www.jiit.ac.in/"> JIIT Noida</a>
			</div>
			<!-- Copyright -->

		  </footer>
    <!-- Footer -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/cbpAnimatedHeader.js"></script>
		<script src="../js/jquery.appear.js"></script>
		<script src="../js/SmoothScroll.min.js"></script>
		<script src="../js/theme-scripts.js"></script>


    <script src="./assets/tether/tether.min.js"></script>
    <script src="./assets/smoothscroll/smooth-scroll.js"></script>
    <script src="./assets/countdown/jquery.countdown.min.js"></script>
    <script src="./assets/theme/js/script.js"></script>
  </body>
</html>
