<html>
  <head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
  </head>
  <body>
    <style>
    ::-webkit-scrollbar {
      display: none;
    }
    </style>
    <br><br><br><br>
    <section id="features" class="section-features">
            <div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
			<strong>Conference Tracks</strong><br>
            <p>



The papers and ideas to be discussed in this conference aim to cover the following aspects of Information Security:<br></p>

<ul>
<li>Digital forensics</li>
<li>Security and Privacy in Systems and Applications</li>
    <li>Network Security</li>
    <li>Cryptographic Technologies</li>
    <li>Security Management</li>
    <li>Information Assurance</li>
    <li>Computer Security</li>
</ul>
<p>
		</section>
  </body>
</html>
